In [11]:
import pandas as pd
df = pd.read_csv("~/Downloads/cc_websites.csv.gz", compression="gzip")
counts = pd.DataFrame(df.content_languages.value_counts().reset_index())
counts["count"] = counts["count"].map(lambda x:f"{x:,}")
counts

   content_languages      count
0                swa  1,616,355
1                mlg    932,349
2                kin    577,411
3                som    555,519
4                zul    496,508
5                hau    494,692
6                amh    446,842
7                yor    277,505
8                nya    241,937
9                ibo    221,595
10               sna    126,740
11               lin     86,518
12               orm     71,334
13               aka     31,609
14               run     28,017
15               tir     17,445

In [16]:
df = pd.read_csv("~/Downloads/cc_websites.csv.gz", compression="gzip")
counts = pd.DataFrame(df.content_languages.value_counts().reset_index())
counts = {r["content_languages"]: r["count"] for ix, r in counts.iterrows()}

In [27]:
df = pd.read_csv("data/languages.csv")
df["n_pages_commoncrawl"] = df.code.map(lambda x:0 if x not in counts.keys() else counts[x])
df = df[['language', 'n_speakers', 'code',
       'script', 'n_pages_commoncrawl']]
df.to_csv("data/languages.csv")
df.sort_values(by="n_pages_commoncrawl", ascending=False)

           language  n_speakers code script  n_pages_commoncrawl
0           Swahili          80  swa   Latn              1616355
7          Malagasy          25  mlg  Other               932349
12      Kinyarwanda          12  kin   Latn               577411
9            Somali          22  som  Other               555519
6              Zulu          27  zul   Latn               496508
1             Hausa          70  hau   Latn               494692
2           Amharic          57  amh  Other               446842
3            Yoruba          45  yor   Latn               277505
13         Chichewa          12  nya   Latn               241937
5              Igbo          40  ibo   Latn               221595
10            Shona          14  sna   Latn               126740
16          Lingala           8  lin   Latn                86518
4             Oromo          40  orm   Latn                71334
14             Akan          12  aka   Latn                31609
11  Rundi (Kirundi)          13  run   Latn                28017
15         Tigrinya           9  tir  Other                17445
8              Fula          25  ful   Latn                    0